numpy
fire
requests
ffmpeg-python
yt_dlp
pyarrow
fsspec
webdataset
webvtt-py
wandb
pandas
tqdm
timeout-decorator
scenedetect[opencv]
decord
torch
langdetect
torchdata
torchaudio
soundfile
omegaconf
einops
transformers
Pillow
accelerate
bitsandbytes
scipy
